*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
label{
  font-size: 20px;
}
html,body{
  height: 100%;
  width: 100%;


}
body{
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{
  background-color: rgb(255, 255, 255) ;
  padding:32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgb(171, 168, 168);
}

.container > h1{
  margin-bottom: 20px;

}
.container > form{
  display: flex;
  flex-direction: column;
  gap:10px;

}
.container div{
  display: flex;
  flex-direction: column;
}
.container input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border:none;
  outline: none;
  border-bottom:1px solid black;

}
.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}
button{
  background-color: rgb(199, 72, 199);
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px ;
  cursor: pointer;
  padding:10px;
  margin:10px 0;
}
button:hover{
  background-color: rgb(99, 118, 215);
  color: white;
}



























